.vscode/
build/
./lib/*
*.dylib
.idea
cmake_install.cmake
CMakeFiles
MakeFile
*.swp
*.o
CMakeCache.txt
Makefile_mem
cmake-buil-debug/
nCTEQpp.cbp
src/examples/nvwa-nvwa.tar.gz
src/theory/f123/fort.66
libf123L.dylib
lib*
src/theory/f123/bin/F123L
F123L
*_
cmake-build-debug
ncteq.jpg
doc/.DS_Store
.DS_Store
data/not_ready
*.png
*.ai
output
results
!SRCproject/*/results
doc/html
doc/latex
.ipynb_checkpoints
*.trace
*.mod
Makefile

doc/fit_dummy*
doc/doxy/html/
doc/doxy/latex

paths.cmake
